---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

interface Props {
  id?: string;
  role?: string;
  institution?: string;
  startDate?: string;
  endDate?: string;
  status?: "finished" | "ongoing";
  icon?: string;
}

const {
  id = "0",
  role = "Unknown Role",
  institution = "Unknown Institution",
  startDate = "Start date",
  endDate = "End date",
  status = "finished", // "finished" or "ongoing"
  icon = '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16"><path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/></svg>',
}: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const statusStyles = {
  finished: {
    container:
      "text-purple-300 bg-linear-to-r from-purple-800/40 to-purple-600/40 border-purple-500/40 hover:shadow-[0_0_10px_rgba(168,85,247,0.6)]",
    label: t(`exp.${id}.status.finished.label` as any),
  },
  ongoing: {
    container:
      "text-gray-300 bg-linear-to-r from-gray-700/40 to-gray-500/40 border-gray-500/40 hover:shadow-[0_0_10px_rgba(234,179,8,0.6)]",
    label: t(`exp.${id}.status.ongoing.label` as any),
  },
};

const currentStatus = statusStyles[status] || statusStyles.finished;
---

<article
  class="rounded-lg p-6 flex flex-row-reverse flex-wrap sm:flex-row sm:flex-nowrap items-center gap-4 outline hover:bg-purple-800/10 hover:scale-105 transition-all duration-300"
>
  <div
    class="bg-purple-500 w-16 h-16 rounded-lg flex items-center justify-center shrink-0"
  >
    <span class="text-black" set:html={icon}></span>
  </div>
  <div class="flex-1">
    <h3 class="text-xl font-bold stroke-black mb-1">
      {role}
    </h3>
    <p class="text-gray-300 mb-2">{institution}</p>
    <p class="text-gray-400 text-sm mb-2">
      {startDate} - {endDate}
    </p>
  </div>
  <div
    class={`rounded-full px-3 py-1 text-sm font-semibold border shadow-sm transition-all duration-300 ${currentStatus.container}`}
  >
    {currentStatus.label}
  </div>
</article>
